h3{
    color: blueviolet;
    margin-left: 580px;
    margin-top: 150px;
}
body{
    background-color: black;
    
}





div{
    
    height: 200PX;
    width: 150PX;
    
}
#d1{
    background-color: blue;
    margin-top: 50PX;
    margin-left: 320PX;
}
#d2{
    background-color: greenyellow;
    margin-top: -200PX;
    margin-left: 480PX;
}
#d3{
    background-color:pink ;
    margin-top: -200PX;
    margin-left: 640PX;
}
#d4{
    background-color: rgb(255, 0, 13);
    margin-top: -200px;
    margin-left: 800px;
}
#d5{
    background-color: rgb(47, 189, 255);
    margin-top: -200PX;
    margin-left: 960px;
}
#d6{
    background-color:rgb(255, 192, 247) ;
    margin-top: 40px;
    margin-left: 160px;
}
#d7{
    background-color: rgb(255, 0, 234);
    margin-top: -200px;
    margin-left: 320px;
}
#d8{
    background-color: rgb(47, 255, 158);
    margin-top:-200PX ;
    margin-left: 480px;
}
#d9{
    background-color:rgb(255, 192, 218) ;
    margin-top: -200px;
    margin-left: 640px;
}
#d10{
    background-color: blue;
    margin-top: -200px;
    margin-left: 800px;
}
#d11{
    background-color: greenyellow;
    margin-top: -200px;
    margin-left: 960px;
}
#d12{
    background-color:pink ;
    margin-top: -200px;
    margin-left: 1120px;
}
#d13{
    background-color: blue;
    margin-top: 40px;
    margin-left: 0px;
}
#d14{
    background-color: greenyellow;
    margin-top: -200px;
    margin-left: 160px;
}
#d15{
    background-color:pink ;
    margin-top: -200px;
    margin-left: 320px;
}
#d16{
    background-color: blue;
    margin-top: -200px;
    margin-left: 640px;
}
#d17{
    background-color: greenyellow;
    margin-top: -200px;
    margin-left: 480px;
}
#d18{
    background-color:pink ;
    margin-top: -200px;
    margin-left: 800px;
}
#d19{
    background-color: blue;
    margin-top: -200px;
    margin-left: 960px;
}
#d20{
    background-color: greenyellow;
    margin-top: -200PX;
    margin-left: 1122PX;
}
#d21{
    background-color:pink ;
    margin-top: -200PX;
    margin-left: 1285PX;
}

